.outerContainer{
    width : 100%;
    height : 80px;

    /* 구분선*/
    border-top : solid gray 1px;

    /*flex*/
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgray;

}

.footerContents{
    font-size :18px;
}